<h1 mat-dialog-title>Add Employee</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>FullName:</mat-label>
        <input matInput placeholder="name of the employee">
        
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email:</mat-label>
        <input matInput placeholder="type Employee email">
        
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>PhoneNo:</mat-label>
        <input matInput placeholder="Phone number">
        
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>:</mat-label>
        <input matInput placeholder="name of the employee">
        
    </mat-form-field>

</div>